@page "/fetchdata"
@using Microsoft.Security.Application
@inject HttpClient Http

<div class="alert alert-light" role="alert">
    <img src="E-tap-logo.png" class="float-end" style="max-width: 150px; margin-top: -6px;" />
       
    <p>Ar šo aplikāciju Jūs varat viegli atrast tikumiskās audzināšanas tiešsaistes resursus latviešu valodā. Šobrīd datu bāzē, ko izmanto šī aplikācija, atrodas @virtues.Count resursi 
        latviešu valodā. Tie ir galvenokārt resursi, kas iekļauti tikumiskās audzināšanas programmas “e-TAP”. Šī programma piedāvā Latvijas kontekstam pielāgotus mācību resursus 
        pirmsskolas un pamatizglītības skolotājiem, lai palīdzētu īstenot tikumisko audzināšanu pirmsskolas izglītības iestādēs un skolās. Vairāk par programmu var uzzināt šajā 
        saitē: <a href="https://www.arete.lu.lv/parnese-izglitiba/tikumiskas-audzinasanas-programma/" target="_blank">https://www.arete.lu.lv/parnese-izglitiba/tikumiskas-audzinasanas-programma/</a>   
    </p>
    <h3>Kā izmantot šo aplikāciju?</h3>
    <ol>
        <li>Meklētājā ievadiet atslēgas vārdu - kādu vērtību vai tikumu (skat. lejā atslēgas vārdu pilno sarakstu).</li>
        <li>Meklēšanas rezultātu tabulā parādīsies šādi lauki: resursa nosaukums, klase, veids, apskates ilgums, apraksts</li>
        <li>Uzklikšķinot uz kāda resursa nosaukumu atveras resursa detalizētais skats jaunā logā ar šādiem papildus laukiem: resursa saite, resursa vieta programmā “e-TAP” (kurā programmas tēmā, nodarbībā un aktivitātē tas parādās), resursa veidotāji un visas vērtības un tikumi, kas saistītas ar šo resursu.</li>
    </ol>
    <h3>Meklēšanas atslēgas vārdi </h3>
    <p><b>Skola2030 vērtības:</b> dzīvība (veselība), brīvība, cieņa, ģimene, laulība, darbs, daba, kultūra, Latvijas valsts, latviešu valoda</p>
    <p>
        <b>Skola2030 vērtības:</b> taisnīgums, tolerance, līdzcietība, solidaritāte, laipnība, atbildība, centība, godīgums, gudrība, drosme, mērenība, savaldība
    </p>
    <p>
        <b>"e-TAP" vērtības:</b> cilvēks kā persona, cieņa, rūpes, mīlestība, brīvība, atbildība, daba, patiesība, harmonija, miers, saskaņa
    </p>
    
    <p><b>"e-TAP" tikumi:</b> izpalīdzība, līdzjūtība, empātija, dāsnums, pateicīgums, pašiniciatīva, radošums, pārliecinātība, atvērtība jaunajam, čaklums, neatlaidība (noturība), apņēmīgums, pazemība, zinātkāre, kritiskā spriestspēja, pašiedziļināšanās, attapība, atklātība, pašvadība, draudzīgums, līdzdalīgums, spēja sadarboties</p>

    <img src="FLP-logo.png" class="float-end" style="max-width: 185px;" />    
    <p>
        <em>Aplikācija “e-Tikumiem” izveidota Latvijas Zinātnes padomes projekta “Digitālas mācību
programmas piemērotības un īstenojamības izpēte jauniešu tikumiskajai audzināšanai Latvijas
izglītības iestādēs (no 5 līdz 15 gadu vecumā)”, Projekta nr. lzp-2020/2-0277</em>
    </p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <EditForm Model="@searchModel" OnSubmit="@OnSearch" class="d-flex mt-1">

        <div class="row">

            <div class="col-lg-3 mt-1">
                <InputText @bind-Value="searchModel.Query" class="form-control" type="search" placeholder="Atslēgas vārds" aria-label="Search"  />
            </div>
            <div class="col-lg-2 mt-1">
                <select class="form-select" @bind="searchModel.Grade">
                    <option value=""> - Pēc klases</option>
                    @foreach (var g in grades)
                    {
                        <option value="@g">@g</option>
                    }
                </select>
            </div>
            <div class="col-lg-2 mt-1">
                <select class="form-select" @bind="searchModel.Topic">
                    <option value=""> - Pēc tēmas</option>
                    @foreach (var g in topics)
                    {
                        <option value="@g">@g</option>
                    }
                </select>
            </div>
            <div class="col-lg-2 mt-1">
                <select class="form-select" @bind="searchModel.ResourceType">
                    <option value=""> - Pēc resursa veida</option>
                    @foreach (var g in resourceTypes)
                    {
                        <option value="@g">@g</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 mt-1">
                <button class="btn btn-success" type="submit">Meklēt</button>
                <button class="btn btn-outline-secondary ms-1" type="button" @onclick="ClearResults">Notīrīt</button>
            </div>

        </div>
    </EditForm>
  </div>
</nav>


@if (virtues == null)
{
    <p><em>Ielādē...</em></p>
}
else
{
    <p class="small">
        @filteredVirtues.Count rezultāti @(!string.IsNullOrEmpty(searchModel.Query) ? $" meklējumam \"{@Encoder.HtmlEncode(searchModel.Query)}\"" : "")
        @(!string.IsNullOrEmpty(searchModel.MatchedQ) && !string.Equals(searchModel.Query, searchModel.MatchedQ, StringComparison.InvariantCultureIgnoreCase)
            ?  $" ({@Encoder.HtmlEncode(searchModel.MatchedQ)})"  : "")
    </p>

    @if (filteredVirtues.Any())
    {
        <table class="table table-light table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>Resursa nosaukums</th>
                    <th>Resursa veids</th>
                    <th>Apskates ilgums (minūtes)</th>
                    <th>Klase</th>
                    <th>Apraksts</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var virtue in filteredVirtues)
            {
                <tr >
                    <td style="cursor:pointer" @onclick="() => ShowDetails(virtue)"><a href="/" class="link-dark"> @virtue.Name</a></td>
                    <td>@virtue.ResourceType</td>
                    <td>@(!string.IsNullOrWhiteSpace(virtue.VideoMinutes) && virtue.VideoMinutes != "0" ? virtue.VideoMinutes : "")</td>
                    <td>@virtue.Grade</td>
                    <td>@virtue.Description</td>
                </tr>
            }
            </tbody>
        </table>    
    }
}

<HxModal @ref="mdModal" 
    Fullscreen="ModalFullscreen.ExtraLargeDown" 
    Size="ModalSize.ExtraLarge" 
    Title="@selectedVirtue?.Name" 
    Centered="true" 
    UseStaticBackdrop="false"
    Scrollable="true">
    <BodyTemplate>
        
        <HxListGroup CssClass="list-group-flush">
            @if (selectedVirtue?.Url != null)
            {
                <HxListGroupItem>
                    <small class="text-muted">Saite</small>
                    <p class="mb-1">
                    @if (selectedVirtue.Url.StartsWith("http"))
                    {
                        <a href="@selectedVirtue.Url" target="_blank">@selectedVirtue.Url</a>
                    } 
                    else
                    {
                        <span>selectedVirtue?.Url</span>
                    }
                    </p>
                </HxListGroupItem>
            }
            <HxListGroupItem>
                <small class="text-muted">Resursa veids</small>
                <p class="mb-1">@selectedVirtue?.ResourceType</p>
            </HxListGroupItem>

            @if (!string.IsNullOrWhiteSpace(selectedVirtue?.VideoMinutes) && selectedVirtue.VideoMinutes != "0")
            {
                <HxListGroupItem>
                    <small class="text-muted">Apskates ilgums (minūtes)</small>
                    <p class="mb-1">@selectedVirtue?.VideoMinutes</p>
                </HxListGroupItem>
            }
            <HxListGroupItem>
                <p class="mb-0">
                    <small class="text-muted">Resursa vieta programmā “e-TAP”</small>
                </p>
                                
                <small class="text-muted">Klase</small>
                <p class="mb-1">@selectedVirtue?.Grade</p>
            
                <small class="text-muted">Tēma</small>
                <p class="mb-1">@selectedVirtue?.Topic</p>
            
                <small class="text-muted">Nodarbība</small>
                <p class="mb-1">@selectedVirtue?.Lesson</p>
            
                <small class="text-muted">Aktivitāte</small>
                <p class="mb-1">@selectedVirtue?.Activity</p>
            </HxListGroupItem>
            <HxListGroupItem>
                <small class="text-muted">Apraksts</small>
                <p class="mb-1">@selectedVirtue?.Description</p>
            </HxListGroupItem>
            <HxListGroupItem>
                <small class="text-muted">Avots</small>
                <p class="mb-1">@selectedVirtue?.Source</p>
            </HxListGroupItem>

            @if (selectedVirtue?.School2030Values != null && selectedVirtue.School2030Values.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">Skola 2030 vērtības</small>
                    @foreach (var item in @selectedVirtue.School2030Values)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }

            @if (selectedVirtue?.School2030Virtues != null && selectedVirtue.School2030Virtues.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">Skola 2030 tikumi</small>
                    @foreach (var item in @selectedVirtue.School2030Virtues)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }

            @if (selectedVirtue?.EtapValues != null && selectedVirtue.EtapValues.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">"e-TAP" vērtības</small>
                    @foreach (var item in @selectedVirtue.EtapValues)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }

            @if (selectedVirtue?.EtapVirtues != null && selectedVirtue.EtapVirtues.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">"e-TAP" tikumi</small>
                    @foreach (var item in @selectedVirtue.EtapVirtues)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }
            
            @if (!string.IsNullOrWhiteSpace(selectedVirtue?.Comments))
            {
                <HxListGroupItem >
                    <small class="text-muted">Komentārs</small>
                    <p class="mb-1">@selectedVirtue.Comments</p>
                </HxListGroupItem>    
            }
        </HxListGroup>

	</BodyTemplate>
</HxModal>


@*<HxOffcanvas @ref="offCanvasComponent"  Title="@selectedVirtue?.Name" Size="OffcanvasSize.Large">
	<BodyTemplate>
		 <HxListGroup CssClass="list-group-flush">
            @if (selectedVirtue?.Url != null)
            {
                <HxListGroupItem>
                    <small class="text-muted">Saite</small>
                    <p class="mb-1">
                    @if (selectedVirtue.Url.StartsWith("http"))
                    {
                        <a href="@selectedVirtue.Url" target="_blank">@selectedVirtue.Url</a>
                    } 
                    else
                    {
                        <span>selectedVirtue?.Url</span>
                    }
                    </p>
                </HxListGroupItem>
            }
            <HxListGroupItem>
                <small class="text-muted">Resursa veids</small>
                <p class="mb-1">@selectedVirtue?.ResourceType</p>
            </HxListGroupItem>

            @if (!string.IsNullOrWhiteSpace(selectedVirtue?.VideoMinutes) && selectedVirtue.VideoMinutes != "0")
            {
                <HxListGroupItem>
                    <small class="text-muted">Apskates ilgums (minūtes)</small>
                    <p class="mb-1">@selectedVirtue?.VideoMinutes</p>
                </HxListGroupItem>
            }
            <HxListGroupItem>
                <p class="mb-0">
                    <small class="text-muted">Resursa vieta programmā “e-TAP”</small>
                </p>
                                
                <small class="text-muted">Klase</small>
                <p class="mb-1">@selectedVirtue?.Grade</p>
            
                <small class="text-muted">Tēma</small>
                <p class="mb-1">@selectedVirtue?.Topic</p>
            
                <small class="text-muted">Nodarbība</small>
                <p class="mb-1">@selectedVirtue?.Lesson</p>
            
                <small class="text-muted">Aktivitāte</small>
                <p class="mb-1">@selectedVirtue?.Activity</p>
            </HxListGroupItem>
            <HxListGroupItem>
                <small class="text-muted">Apraksts</small>
                <p class="mb-1">@selectedVirtue?.Description</p>
            </HxListGroupItem>
            <HxListGroupItem>
                <small class="text-muted">Avots</small>
                <p class="mb-1">@selectedVirtue?.Source</p>
            </HxListGroupItem>

            @if (selectedVirtue?.School2030Values != null && selectedVirtue.School2030Values.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">Skola 2030 vērtības</small>
                    @foreach (var item in @selectedVirtue.School2030Values)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }

            @if (selectedVirtue?.School2030Virtues != null && selectedVirtue.School2030Virtues.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">Skola 2030 tikumi</small>
                    @foreach (var item in @selectedVirtue.School2030Virtues)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }

            @if (selectedVirtue?.EtapValues != null && selectedVirtue.EtapValues.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">"e-TAP" vērtības</small>
                    @foreach (var item in @selectedVirtue.EtapValues)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }

            @if (selectedVirtue?.EtapVirtues != null && selectedVirtue.EtapVirtues.Any())
            {
                <HxListGroupItem>
                    <small class="text-muted">"e-TAP" tikumi</small>
                    @foreach (var item in @selectedVirtue.EtapVirtues)
                    {
                        <span class="badge bg-secondary mx-2 mt-1">@item</span>            
                    }
                </HxListGroupItem>
            }
            
            @if (!string.IsNullOrWhiteSpace(selectedVirtue?.Comments))
            {
                <HxListGroupItem >
                    <small class="text-muted">Komentārs</small>
                    <p class="mb-1">@selectedVirtue.Comments</p>
                </HxListGroupItem>    
            }
        </HxListGroup>
	</BodyTemplate>
</HxOffcanvas>*@